/* ----shared items */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}



.flex{
    display: flex;
}
.bold{
    font-weight: 700;
}
.bolder{
    font-weight: 900;
}
.text-org{
    color: #E95A08;
}
.text-gray{
    color: #8987A1;
}
.text-blk{
    color: black
}

.heading{
    font-weight: 900;
    font-size: 4rem;
    font-family: "Noto Serif", serif;
}
.button{
    background-color: #E95A08;
    color: white;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1.2rem;
}

main > section{
  margin-top: 130px;
}
 





/* ----header-nav */

.navbar, .banner{
  max-width : 1140px;
  margin: 20px auto;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    gap: 4em;
}
.nav-items{
    list-style: none;
}
.nav-link{
    text-decoration: none;
}
.cart{
    width: 27px;
    margin-top: -5.5px;
}
.cart-container{
    display: flex;
    justify-items: center;
    gap: 5px;
}



/* ----header-banner */
.banner{
    margin-top: 170px ;
}
.banner p{
        text-align: left;
}



/* ----price card section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.price-card h1,p{
    text-align: center;
}
.card-detail{
    padding: 0% 25%;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 50px auto;
}
.card{
    text-align: center;
}
.card-name{
    font-weight: 500;
}


/* ----"trusted for plant lover" */
.trusted{
    flex-direction: column;
    align-items: center;
}
.trust-container{
    gap: 8%;
}
 .trust-ul{
    color: #8987A1;
 }
 .trust-para{
    font-size: 1.5rem;
    text-align: left;
 }
.trust-badge{
    width: 20%;
    margin-bottom: -130px;
    margin-left: -120px;
    z-index: 99;
}
.handsome-owner-img{
    z-index: 32;
}


/* ----latest deals */

.deal-para, .deal-head{
    text-align: center;
    margin: 60px 150px ;
}
.container {
      display: flex;
      gap: 20px;
      justify-content: center;
    }

    .left-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .box {
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      width: 400px;
      height: 200px;
      color: white;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .box-large{
      width: 1200px;
      height: 420px;
    }

    .overlay-text{
      position: relative;
      z-index: 2;
    }

    .box::before{
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }

    .discount{
      font-weight: bold;
      font-size: 18px;
    }

    .plant-name{
      font-weight: bold;
    }

    .shop-now{
      font-size: 14px;
      margin-top: 4px;
    }
    .bloom{
      background-image: url(assets/deal-bloom.png);
    }

    .ana{
      background-image: url(assets/deal-ana.png);
    }

    .zabo{
      background-image: url(assets/deal-zabo.png);
    }



/* ----Join */


.join{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 130px 0;
}
.inner-join{
    padding: 180px 80px;
}
.join-title{
    color: white;
    text-align: center;
}
.cut-button{
    width: 20%;
}
.subscribe{
    justify-content: center;
}
input[type="email"] {
    width: 60%;
    padding: 20px;
    border: none;
    font-size: 1rem;
}



    /* ----footer */
   
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 110px;
    margin: 60px 100px;
} 
.left-foot p{
    text-align: left;
    font-size: 1.2rem;
}
.mid-foot1, .mid-foot2{
    flex-direction: column;
    gap: 20px;
}
.mid-foot1 a, .mid-foot2 a{
    text-decoration: none;
    color: #8987A1;
    font-weight: 600;
    font-size: 1rem;
}
.right-foot{
    gap: 1.5rem;
    height: 15%;
    width: 60%;
}
.right-foot img{
    width: 100%;
}

















/* ----responsive for small screen */
@media screen and (max-width: 576px){
    .inter-font {
    font-size: 1rem;
    }

    body .heading{
    font-size: 24px;
    }
    .button{
    font-size: 1rem;
}


    /* ----header */

    #home, #shop, #contact{
        display: none;
    }
    .logo{
        width: 20%;
    }
    .navbar{
        margin: 15px 30px;
    }
    .banner{
        flex-direction: column;
        flex-direction: column-reverse;
        margin: 30px 0;
    }
    .heading{
        font-size: 2rem;
    } 
    .banner img{
        width: 100%;
    }
    .banner div{
        padding: 15px;
    }
    


    /* ----plant card  */

    main{
        max-width: 480px;
        margin: 0 10px ;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .card img{
        width: 100%;
    }


    /* ----trusted  */
   
    .trust-container{
        flex-direction: column ;
    }
    .trust-badge{
        display: none;
    }
    .handsome-owner-img{
        width: 100%;
    } 
    .trust-para{
    font-size: 1rem;
    }



    /* ----deals  */
    .deal-para, .deal-head{
    margin: 60px 50px ;
    }
    .box {
      width: 22rem;
    }

    .box-large{
      width: 22rem;
      height: 14rem;
    }
    .ana{
        border-radius: 0px;
    }
    .container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    
    




    
    
    /* ----join  */
    .inner-join{
    padding: 60px 0px;
    }
    input[type="email"] {
    width: 40%;
    padding: 20px;
    font-size: 1rem;
    }
    .cut-button{
    width: 30%;
    }


    
    /* ----footer  */
    .footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-left: 25px;
        font-size: 1rem;
    }
    .left-foot img{
        width: 70%;
    }
    .right-foot{
        height: 100%;
    }

    





}
